@import "../../assets/colours";

:host {
  height: 100%;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  background-color: $rait-blue-light;

  .login-title {
    font-size: 20px;
  }

  .login-block {
    margin-top: 4px;
    display: flex;
    flex-direction: column;

    .login-form {
      width: 300px;
      padding: 16px 16px 24px;
      border: 1px solid #FFFFFF;
      border-radius: 4px;

      .email {
        @extend .form-input;
      }

      .password {
        @extend .form-input;
      }

      .login-button {
        @extend .form-input;
        height: 40px !important;
        margin-top: 50px !important;
        cursor: pointer;
      }
    }
  }
}

.form-input {
  margin-top: 20px;
  height: 30px;
  font-size: 15px;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  color: #fff;
  border-radius: 4px;

  &::placeholder {
    color: #fff;
  }
}
