/* You can add global styles to this file, and also import other style files */
@import "assets/app-variables";
@import "assets/colours";

body {
  font-family: "arial";
  margin: 0;
  height: 100%;
  overflow: auto;
}

