@import "../assets/app-variables";
@import "../assets/colours";

:host {
  height: 100%;
  width: 100%;
}

.rait {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .rait-top-bar {
    display: flex;
    align-items: center;
    height: $rait-top-bar-height;
    width: 100%;
    background-color: $rait-blue-light;

    .rait-title {
      margin: 0 0 0 10px;
      color: #fff;
    }
  }

  .rait-content {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
  }

}

app-user-info {
  padding-right: 10px;
  margin-left: auto;
  color: #fff;
  font-size: 20px;
}

